$primary-color: #ecdfdf;

.App {
  text-align: center;
}

li {
    list-style: none;
  }

.pointEvent {
    animation-name: fade-in;
	animation-fill-mode: both;
	animation-duration: .5s;
}

.heartLoader {
    position: fixed;
    top: 35%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.loaderText {
    position: fixed;
    top: 35%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    font-weight: bold;
    font-size: 20px;
}

$animationDelay: 1;
@for $i from 1 through 15 {
	.pointEvent:nth-of-type(#{$i}) {
		animation-delay: #{0.25 +($i)/30}s;
  }
}

@keyframes fade-in {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

.App-logo {
    animation: App-logo-spin infinite 20s linear;
    height: 40vmin;
}

.App-link {
    color: #61dafb;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
